/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
.cart-image {
  min-width: 200px;
  max-width: 180px;
}
.item-width {
  width: 65px;
}
